#container{
    height:1000px;
    width:1000px;        
}

#input p{
    display: inline;
}

.square{
    width:100px;
    height:100px; 
    display:inline-block;
    background-color: antiquewhite;
    margin:0 10px;
}

.row{
    padding:20px 30px;
}

.square-text{
    top:50%;
    left:50%;
    position:relative;
}

input{
    width:50px;
}